.header .logo, .logo-gray { font: 0/0 a; text-shadow: none; color: transparent; }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { font-family: "Segoe UI", Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.4; }

a img, fieldset { border: none; }

a { color: #00a4e4; }
a:hover { text-decoration: none; }

header, nav, footer { display: block; }

.header { padding: 41px 0 0; margin: 0 auto; width: 988px; }
@media only screen and (min-width: 1418px) { .header { width: 1324px; } }
.header .logo { background: url('../img/icons-s34db1907ee.png') 0 0 no-repeat; width: 188px; height: 28px; float: left; margin-top: 5px; }
.header .logo a { display: block; height: 100%; }
.header .contact-phone, .header .footer .contact-phone_sm, .footer .header .contact-phone_sm { float: right; }

.nav { display: inline-block; width: 100%; font-family: "Segoe UI", Arial, sans-serif; padding: 48px 0 25px; clear: both; }
.nav li { list-style: none; float: left; margin-right: 27px; }
.nav li a { display: block; color: #29292a; font-size: 16px; text-transform: uppercase; border-bottom: 1px solid #d1d6da; line-height: 1; text-decoration: none; }
.nav li a:hover { background: #00a4e4; color: #fff; margin: -7px -11px; padding: 7px 11px; text-decoration: underline; }
.nav .active a { color: #00a4e4; border-color: #d1e9f8; }

.contact-phone, .footer .contact-phone_sm { font-size: 24px; color: #acafb1; font-family: "Segoe UI", Arial, sans-serif; font-weight: normal; line-height: 1; }
.contact-phone span, .footer .contact-phone_sm span { color: #29292a; }

.banner, .banner_sub { background: #2a3952; height: 316px; margin-bottom: 12px; overflow: hidden; position: relative; }
.banner .in, .banner_sub .in { position: relative; padding-top: 47px; }
.banner strong, .banner_sub strong { color: #fff; font-size: 81px; font-family: "Segoe UI", Arial, sans-serif; font-weight: normal; font-weight: lighter; line-height: 0.8; margin: 0 0 35px -7px; display: block; min-height: 114px; }
.banner strong a, .banner_sub strong a { text-decoration: none; color: #fff; }
.banner p, .banner_sub p { border-left: 3px solid #00a4e4; line-height: 35px; font-size: 18px; font-family: "Segoe UI", Arial, sans-serif; font-weight: bold; color: #fff; padding-left: 9px; text-transform: uppercase; }
.banner p a, .banner_sub p a { text-decoration: none; color: #fff; }
.banner p a:hover, .banner_sub p a:hover { text-decoration: underline; }
.banner .banner__img, .banner_sub .banner__img { position: absolute; margin-left: -1033px; left: 50%; }
.banner .title-arr, .banner_sub .title-arr { position: absolute; background: url('../img/icons-s34db1907ee.png') 0 -1344px no-repeat; width: 44px; height: 45px; top: 4px; left: -70px; }

.banner_sub strong { font-size: 60px; margin-top: 17px; position: relative; }
.banner_sub p { font-size: 15px; line-height: 32px; padding-left: 20px; }

.banner__links { position: absolute; width: 316px; top: 0; right: 10px; }
.banner__links li { margin-top: 20px; list-style: none; font-size: 18px; color: #00a4e4; }
.banner__links a { border: 3px solid #00a4e4; width: 270px; padding: 10px 20px; height: 52px; text-decoration: none; display: block; position: relative; }
.banner__links a:hover { color: #fff; border-color: #fff; }
.banner__links a:hover .arr-right { background: url('../img/icons-s34db1907ee.png') 0 -1814px no-repeat; width: 23px; height: 39px; }
.banner__links .arr-right { position: absolute; top: 50%; margin-top: -19px; right: 14px; background: url('../img/icons-s34db1907ee.png') 0 -1621px no-repeat; width: 23px; height: 39px; }

.in { margin: 0 auto; width: 988px; }
@media only screen and (min-width: 1418px) { .in { width: 1324px; } }

.main { margin: 0 auto; width: 988px; }
@media only screen and (min-width: 1418px) { .main { width: 1324px; } }
.main h1 { color: #29292a; font-family: "Segoe UI", Arial, sans-serif; font-size: 35px; font-weight: normal; font-weight: lighter; margin: 0 0 0 -12px; line-height: 1; }
.main h1 a { text-decoration: none; color: #29292a; display: inline-block; padding: 1px 10px 6px; }
.main h1 a:hover { background: #00a4e4; color: #fff; }
.main h3 { font-size: 16px; color: #00a4e4; text-transform: uppercase; font-weight: lighter; margin-bottom: 12px; }
.main h3 a { text-decoration: underline; }
.main h3 a:hover { text-decoration: none; }

.footer { border-top: 1px solid #dcdedf; margin: 0 auto; width: 988px; padding: 21px 0 167px; }
@media only screen and (min-width: 1418px) { .footer { width: 1324px; } }
.footer .footer__top { display: inline-block; width: 100%; margin-bottom: 63px; }
.footer .footer__nav { float: left; }
.footer .footer__nav li { display: inline-block; list-style: none; font-size: 13px; margin-right: 43px; }
.footer .footer__nav a { color: #29292a; }
.footer .footer__top-link { float: right; text-decoration: none; border-bottom: 1px dotted; position: relative; font-size: 13px; margin-top: 2px; }
.footer .footer__top-link:hover { border-color: transparent; }
.footer .arr-top { background: url('../img/icons-s34db1907ee.png') 0 -1748px no-repeat; width: 17px; height: 17px; display: block; position: absolute; left: -25px; top: 0; }
.footer .footer__bottom { display: inline-block; width: 100%; }
.footer .footer__left { float: left; font-size: 13px; }
.footer .footer__left span { display: block; margin-bottom: 4px; }
.footer .contact-phone_sm { font-size: 18px; margin-bottom: 12px; }
.footer .contact-phone_sm span { display: inline; }
.footer .footer__right { text-align: right; float: right; }
.footer .footer__right span { display: block; font-size: 12px; color: #a5abaf; }
.footer .footer__right p { font-size: 11px; color: #959ca1; }
.footer .dotted { border-bottom: 1px dotted #dcdedf; }

.logo-gray { background: url('../img/icons-s34db1907ee.png') 0 -402px no-repeat; width: 214px; height: 20px; display: inline-block; position: relative; top: -6px; margin-bottom: 24px; }
.logo-gray a { display: block; height: 100%; }
