/* default layout */
.l { width: 100%; display: inline-block; }
.l .l-col2 { float: left; width: 66%; }
.l .l-col1 { float: right; width: 32%; }
.l .l-col2_b { float: right; width: 74.5%; }
.l .l-col1_b { float: left; width: 23.5%; }
