@charset "IBM866";
.header .logo, .logo-gray { font: 0/0 a; text-shadow: none; color: transparent; }

.partners-logo a img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

.partners-logo a:hover img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale"); -webkit-filter: grayscale(0%); }

/*@font-face {
	font-family: "Segoe UI";
	src: url("http://cdn-resources.windowsphone.com/Resources/Fonts/Apollo/SegoeUI-webfonts-WestEuropean/Segoe-UI/3ca1af51-981a-4e1c-b9c6-a66d0a5fe3c0-3.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}*/
/*@font-face {
	font-family: "Segoe UI Light";
	src: url("http://cdn-resources.windowsphone.com/Resources/Fonts/Apollo/SegoeUI-webfonts-WestEuropean/Segoe-UI-Light/45a13f65-5199-4a22-821e-9b7d7795518e-3.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}*/
/*@font-face {
	font-family: "Segoe UI Bold";
	src: url("http://cdn-resources.windowsphone.com/Resources/Fonts/Apollo/SegoeUI-webfonts-WestEuropean/Segoe-UI-Bold/f5dd91f1-2016-48f8-a46c-e3418a52c859-3.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}*/
/*@font-face {
	font-family: "Segoe UI Semibold";
	src: url("http://cdn-resources.windowsphone.com/Resources/Fonts/Apollo/SegoeUI-webfonts-WestEuropean/Segoe-UI-Semibold/afae52c9-5d08-4193-8984-bb4346fd493c-3.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}*/
@font-face { font-family: 'Segoe Italic'; src: url("fonts/segoeuii.eot"); src: local("☺"), url("fonts/segoeuii.woff") format("woff"), url("fonts/segoeuii.ttf") format("truetype"), url("fonts/segoeuii.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Segoe UI'; src: url("fonts/segoeui.eot"); src: local("☺"), url("fonts/segoeui.ttf") format("woff"), url("fonts/segoeui.tff") format("truetype"), url("fonts/segoeui.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Segoe UI Light'; src: url("fonts/segoeuil.eot"); src: local("☺"), url("fonts/segoeuil.woff") format("woff"), url("fonts/segoeuil.ttf") format("truetype"), url("fonts/segoeuil.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Segoe UI Bold'; src: url("fonts/segoeuib.eot"); src: local("☺"), url("fonts/segoeuib.woff") format("woff"), url("fonts/segoeuib.tff") format("truetype"), url("fonts/segoeuib.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Segoe UI Semibold'; src: url("fonts/seguisb.eot"); src: local("☺"), url("fonts/seguisb.woff") format("woff"), url("fonts/seguisb.ttf") format("truetype"), url("fonts/seguisb.svg") format("svg"); font-weight: normal; font-style: normal; }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { font-family: "Segoe UI", Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.4; }

a img, fieldset { border: none; }

a { color: #00a4e4; }
a:hover { text-decoration: none; }

header, nav, footer { display: block; }

.header { padding: 41px 0 0; margin: 0 auto; width: 988px; }
@media only screen and (min-width: 1438px) { .header { width: 1324px; } }
.header .logo { background: url('icons-s1b11e8ce21.png') 0 -51px no-repeat; width: 188px; height: 28px; float: left; margin-top: 5px; }
.header .logo a { display: block; height: 100%; }
.header .contact-phone, .header .footer .contact-phone_sm, .footer .header .contact-phone_sm { float: right; }

.nav { display: inline-block; width: 100%; padding: 32px 0 9px; clear: both; }
.nav li { list-style: none; float: left; margin: 16px 27px 16px 0; }
.nav li a { display: block; color: #29292a; font-size: 16px; text-transform: uppercase; border-bottom: 1px solid #d1d6da; line-height: 1; text-decoration: none; }
.nav li a:hover { background: #00a4e4; color: #fff; margin: -7px -11px; padding: 7px 11px; text-decoration: underline; }
.nav .active a { color: #00a4e4; border-color: #d1e9f8; }

.contact-phone, .footer .contact-phone_sm { font-size: 24px; color: #acafb1; font-weight: normal; line-height: 1; }
.contact-phone span, .footer .contact-phone_sm span { color: #29292a; }

.banner, .banner_sub { background: #2a3952; height: 316px; margin-bottom: 12px; overflow: hidden; position: relative; }
.banner .in, .banner_sub .in { position: relative; padding-top: 47px; }
.banner strong, .banner_sub strong { color: #fff; font-size: 81px; font-family: "Segoe UI Light", Arial, sans-serif; line-height: 0.8; margin: 0 0 35px -7px; display: block; min-height: 114px; font-weight: normal; }
.banner strong a, .banner_sub strong a { text-decoration: none; color: #fff; }
.banner p, .banner_sub p { border-left: 3px solid #00a4e4; line-height: 35px; font-size: 18px; font-family: "Segoe UI Bold", Arial, sans-serif; color: #fff; padding-left: 9px; font-weight: normal; text-transform: uppercase; }
.banner p a, .banner_sub p a { text-decoration: none; color: #fff; }
.banner p a:hover, .banner_sub p a:hover { text-decoration: underline; }
.banner .banner__img, .banner_sub .banner__img { position: absolute; margin-left: -1033px; left: 50%; }
.banner .title-arr, .banner_sub .title-arr { position: absolute; background: url('icons-s1b11e8ce21.png') 0 -1555px no-repeat; width: 44px; height: 45px; top: 13px; left: -67px; }

.banner_sub strong { font-size: 60px; margin: 7px 0 28px -7px; position: relative; line-height: 1.08; }
.banner_sub p { font-size: 15px; line-height: 18px; padding: 6px 0 7px 20px; }

.banner__links { position: absolute; width: 316px; top: 0; right: 0; }
.banner__links li { margin-top: 20px; list-style: none; font-size: 18px; color: #00a4e4; }
.banner__links a { border: 3px solid #00a4e4; width: 270px; padding: 10px 20px; height: 52px; text-decoration: none; display: block; position: relative; }
.banner__links a:hover { color: #fff; border-color: #fff; }
.banner__links a:hover .arr-right { background: url('icons-s1b11e8ce21.png') 0 -2542px no-repeat; width: 23px; height: 39px; }
.banner__links .arr-right { position: absolute; top: 50%; margin-top: -19px; right: 14px; background: url('icons-s1b11e8ce21.png') 0 -2016px no-repeat; width: 23px; height: 39px; }

.in { margin: 0 auto; width: 988px; }
@media only screen and (min-width: 1438px) { .in { width: 1324px; } }

.main { margin: 0 auto; width: 988px; }
@media only screen and (min-width: 1438px) { .main { width: 1324px; } }
.main h1 { color: #29292a; font-family: "Segoe UI Light", Arial, sans-serif; font-weight: normal; font-size: 35px; margin: 0 0 0 -12px; line-height: 1; }
.main h1 a { text-decoration: none; color: #29292a; display: inline-block; padding: 1px 10px 6px; }
.main h1 a:hover { background: #00a4e4; color: #fff; }
.main h2 { color: #29292a; font-size: 26px; font-weight: normal; }
.main h3 { font-size: 16px; color: #00a4e4; text-transform: uppercase; font-family: "Segoe UI", Arial, sans-serif; font-weight: normal; margin-bottom: 12px; }
.main h3 a { text-decoration: underline; }
.main h3 a:hover { text-decoration: none; }
.main h4 { color: #363636; font-size: 17px; font-family: "Segoe UI Semibold", Arial, sans-serif; font-weight: normal; }

.text-block { padding: 10px 0 0; }
.text-block h1, .text-block h2 { margin: 20px 0; }
.text-block h3 { margin: 23px 0; }
.text-block h4 { margin: 17px 0; }
.text-block p { margin: 20px 0; }
.text-block figure { margin: 30px 0; }
.text-block figure img { vertical-align: top; }
.text-block figure figcaption { display: block; text-align: center; font-size: 13px; font-family: "Segoe Italic"; color: #959ca1; margin: 13px 0 0; }
@media only screen and (max-width: 1100px) { .text-block figure img { width: 100%; } }
.text-block ul { color: #959ca1; padding-left: 38px; }
.text-block ul li { list-style: none; position: relative; margin: 22px 0; }
.text-block ul li:before { height: 5px; width: 5px; background: #d1d6da; content: ""; position: absolute; top: 9px; left: -12px; }

.note { float: left; width: 150px; margin-left: -34.4%; font-family: "Segoe UI Bold", Arial, sans-serif; color: #29292a; text-align: right; width: 31%; }
@media only screen and (max-width: 650px) { .note { display: none; } }

.mark-text, .text-block blockquote { background: #dbdfe3; color: #29292a; padding: 20px 27px; margin: 20px 0; }

.t, .text-block table { width: 100%; border-spacing: 0; border-collapse: separate; }
.t th, .text-block table th { background: #dbdfe3; color: #363636; border-bottom: 1px solid #abb3bc; font-weight: normal; text-align: left; padding: 10px 15px; }
.t td, .text-block table td { border-bottom: 1px solid #dbdfe3; padding: 10px 15px; }
.t tr:hover td, .text-block table tr:hover td { background-color: #f6f6f6; }
.t .t_mark td, .text-block table .t_mark td { background-color: #959ca1; }
.t a, .text-block table a { text-decoration: none; }
.t a:hover, .text-block table a:hover { text-decoration: underline; }

.form, .text-block form { margin: 27px 0; }
.form .row, .text-block form .row { display: inline-block; width: 100%; margin-bottom: 11px; }
.form label, .text-block form label { float: left; text-align: right; color: #959ca1; font-size: 13px; width: 158px; margin: 5px 12px 5px 0; letter-spacing: 0.05em; }
.form .input, .text-block form .input, .form .input_b, .text-block form .form .input_b, .form .text-block form .input_b, .form .text-block form .input_b, .text-block form .form .input_b, .text-block form .input_b, .form .input_textarea, .text-block form .form .input_textarea, .form .text-block form .input_textarea, .form .text-block form .input_textarea, .text-block form .form .input_textarea, .text-block form .input_textarea { float: left; padding: 0 13px; height: 26px; width: 286px; border: 2px solid #959ca1; color: #959ca1; font-size: 13px; }
.form .input:focus, .text-block form .input:focus, .form .input_b:focus, .text-block form .form .input_b:focus, .form .text-block form .input_b:focus, .form .text-block form .input_b:focus, .text-block form .form .input_b:focus, .text-block form .input_b:focus, .form .input_textarea:focus, .text-block form .form .input_textarea:focus, .form .text-block form .input_textarea:focus, .form .text-block form .input_textarea:focus, .text-block form .form .input_textarea:focus, .text-block form .input_textarea:focus, .form .input:hover, .text-block form .input:hover, .form .input_b:hover, .text-block form .form .input_b:hover, .form .text-block form .input_b:hover, .form .text-block form .input_b:hover, .text-block form .form .input_b:hover, .text-block form .input_b:hover, .form .input_textarea:hover, .text-block form .form .input_textarea:hover, .form .text-block form .input_textarea:hover, .form .text-block form .input_textarea:hover, .text-block form .form .input_textarea:hover, .text-block form .input_textarea:hover { color: #00a4e4; border-color: #00a4e4; }
.form .input_b, .text-block form .input_b { font-weight: bold; }
.form .input_textarea, .text-block form .input_textarea { height: 94px; padding: 11px 13px; resize: none; font-family: "Segoe UI", Arial, sans-serif; }

.footer { border-top: 1px solid #dcdedf; margin: 0 auto; width: 988px; padding: 21px 0 167px; }
@media only screen and (min-width: 1438px) { .footer { width: 1324px; } }
.footer .footer__top { display: inline-block; width: 100%; margin-bottom: 63px; }
.footer .footer__nav { float: left; }
.footer .footer__nav li { display: inline-block; list-style: none; font-size: 13px; margin-right: 43px; }
.footer .footer__nav a { color: #29292a; }
.footer .footer__top-link { float: right; text-decoration: none; border-bottom: 1px dotted; position: relative; font-size: 13px; margin-top: 2px; }
.footer .footer__top-link:hover { border-color: transparent; }
.footer .arr-top { background: url('icons-s1b11e8ce21.png') 0 -2476px no-repeat; width: 17px; height: 17px; display: block; position: absolute; left: -25px; top: 0; }
.footer .footer__bottom { display: inline-block; width: 100%; }
.footer .footer__left { float: left; font-size: 13px; }
.footer .footer__left span { display: block; margin-bottom: 4px; }
.footer .contact-phone_sm { font-size: 18px; margin-bottom: 12px; }
.footer .contact-phone_sm span { display: inline; }
.footer .footer__right { text-align: right; float: right; }
.footer .footer__right span { display: block; font-size: 12px; color: #a5abaf; }
.footer .footer__right p { font-size: 11px; color: #959ca1; }
.footer .dotted { border-bottom: 1px dotted #dcdedf; }

.logo-gray { background: url('icons-s1b11e8ce21.png') 0 -453px no-repeat; width: 214px; height: 20px; display: inline-block; position: relative; top: -6px; margin-bottom: 24px; }
.logo-gray a { display: block; height: 100%; }

.btn_b_sm, .btn_bw_sm, .btn_g_sm, .btn_gw_sm, .btn_b, .btn_bw, .btn_g, .btn_gw { height: 36px; font-family: "Segoe UI Light", Arial, sans-serif; font-weight: lighter; font-size: 18px; line-height: 36px; padding-left: 42px; min-width: 185px; border: 0; display: block; border: 2px solid #f00; cursor: pointer; margin: 5px 0; text-align: left; position: relative; text-decoration: none; }
.btn_b_sm:hover, .btn_bw_sm:hover, .btn_g_sm:hover, .btn_gw_sm:hover, .btn_b:hover, .btn_bw:hover, .btn_g:hover, .btn_gw:hover { opacity: .35; }
.btn_b_sm:before, .btn_bw_sm:before, .btn_g_sm:before, .btn_gw_sm:before, .btn_b:before, .btn_bw:before, .btn_g:before, .btn_gw:before { content: ""; position: absolute; top: 7px; left: 12px; }

.btn-holder { text-align: center; }
.btn-holder .btn_b_sm, .btn-holder .btn_bw_sm, .btn-holder .btn_g_sm, .btn-holder .btn_gw_sm, .btn-holder .btn_b, .btn-holder .btn_bw, .btn-holder .btn_g, .btn-holder .btn_gw { display: inline-block; padding-right: 10px; }

button.btn_b_sm, button.btn_bw_sm, button.btn_g_sm, button.btn_gw_sm, button.btn_b, button.btn_bw, button.btn_g, button.btn_gw { line-height: 1; height: 40px; width: 229px; }

.btn_b_sm, .btn_bw_sm, .btn_g_sm, .btn_gw_sm { font-size: 13px; height: 28px; line-height: 28px; padding-left: 37px; min-width: 131px; }
.btn_b_sm:before, .btn_bw_sm:before, .btn_g_sm:before, .btn_gw_sm:before { top: 5px; left: 10px; }

button.btn_b_sm, button.btn_bw_sm, button.btn_g_sm, button.btn_gw_sm { height: 30px; width: 154px; }

.btn_b, .btn_b_sm { background: #00a4e4; color: #fff; border-color: #00a4e4; }
.btn_b:before, .btn_b_sm:before { background: url('icons-s1b11e8ce21.png') 0 -1950px no-repeat; width: 22px; height: 22px; }

.btn_b_sm:before { background: url('icons-s1b11e8ce21.png') 0 -2269px no-repeat; width: 16px; height: 17px; }

.btn_bw, .btn_bw_sm { background: #fff; color: #00a4e4; border-color: #00a4e4; }
.btn_bw:before, .btn_bw_sm:before { background: url('icons-s1b11e8ce21.png') 0 -1864px no-repeat; width: 22px; height: 22px; }

.btn_bw_sm:before { background: url('icons-s1b11e8ce21.png') 0 -1923px no-repeat; width: 16px; height: 17px; }

.btn_g, .btn_g_sm { background: #959ca1; color: #fff; border-color: #959ca1; cursor: default; }
.btn_g:before, .btn_g_sm:before { background: url('icons-s1b11e8ce21.png') 0 -1950px no-repeat; width: 22px; height: 22px; }
.btn_g:hover, .btn_g_sm:hover { opacity: 1; }

.btn_g_sm:before { background: url('icons-s1b11e8ce21.png') 0 -2269px no-repeat; width: 16px; height: 17px; }

.btn_gw, .btn_gw_sm { background: #fff; color: #959ca1; border-color: #959ca1; cursor: default; }
.btn_gw:before, .btn_gw_sm:before { background: url('icons-s1b11e8ce21.png') 0 -1832px no-repeat; width: 22px; height: 22px; }
.btn_gw:hover, .btn_gw_sm:hover { opacity: 1; }

.btn_gw_sm:before { background: url('icons-s1b11e8ce21.png') 0 -1896px no-repeat; width: 16px; height: 17px; }

.icon-doc, .icon-pdf, .icon-ppt, .icon-xls, .icon-left, .icon-bottom, .icon-d, .icon-doc_a, .icon-pdf_a, .icon-ppt_a, .icon-xls_a, .icon-left_a, .icon-bottom_a, .icon-d_a { display: inline-block; margin-right: 14px; cursor: pointer; vertical-align: middle; }
.icon-doc:hover, .icon-pdf:hover, .icon-ppt:hover, .icon-xls:hover, .icon-left:hover, .icon-bottom:hover, .icon-d:hover, .icon-doc_a:hover, .icon-pdf_a:hover, .icon-ppt_a:hover, .icon-xls_a:hover, .icon-left_a:hover, .icon-bottom_a:hover, .icon-d_a:hover { opacity: .35; }

.icon-doc { background: url('icons-s1b11e8ce21.png') 0 -1982px no-repeat; width: 20px; height: 24px; }

.icon-pdf { background: url('icons-s1b11e8ce21.png') 0 -2235px no-repeat; width: 20px; height: 24px; }

.icon-ppt { background: url('icons-s1b11e8ce21.png') 0 -2133px no-repeat; width: 20px; height: 24px; }

.icon-xls { background: url('icons-s1b11e8ce21.png') 0 -2065px no-repeat; width: 20px; height: 24px; }

.icon-left { background: url('icons-s1b11e8ce21.png') 0 -1475px no-repeat; width: 29px; height: 30px; margin-right: 5px; }

.icon-bottom { background: url('icons-s1b11e8ce21.png') 0 -1515px no-repeat; width: 31px; height: 30px; margin-right: 5px; }

.icon-d { background: url('icons-s1b11e8ce21.png') 0 -2442px no-repeat; width: 20px; height: 24px; }

.icon-doc_a { background: url('icons-s1b11e8ce21.png') 0 -2099px no-repeat; width: 20px; height: 24px; }

.icon-pdf_a { background: url('icons-s1b11e8ce21.png') 0 -2201px no-repeat; width: 20px; height: 24px; }

.icon-ppt_a { background: url('icons-s1b11e8ce21.png') 0 -2296px no-repeat; width: 20px; height: 24px; }

.icon-xls_a { background: url('icons-s1b11e8ce21.png') 0 -2167px no-repeat; width: 20px; height: 24px; }

.icon-left_a { background: url('icons-s1b11e8ce21.png') 0 -1251px no-repeat; width: 29px; height: 30px; margin-right: 5px; }

.icon-bottom_a { background: url('icons-s1b11e8ce21.png') 0 -1395px no-repeat; width: 31px; height: 30px; margin-right: 5px; }

.icon-d_a { background: url('icons-s1b11e8ce21.png') 0 -2408px no-repeat; width: 20px; height: 24px; }

.doc-linc span, .doc-linc_a span { vertical-align: middle; font-size: 12px; display: inline-block; color: #959ca1; }
.doc-linc a, .doc-linc_a a { display: inline-block; vertical-align: middle; }
.doc-linc:hover, .doc-linc_a:hover { opacity: .35; }
.doc-linc .icon-d:hover, .doc-linc_a .icon-d:hover, .doc-linc .icon-d_a:hover, .doc-linc_a .icon-d_a:hover { opacity: 1; }

.doc-linc_a a { color: #959ca1; }

.adv { margin-top: 100px; }
.adv .adv__img img { vertical-align: top; }
@media only screen and (max-width: 1100px) { .adv .adv__img img { width: 100%; } }
.adv .adv__inf { background: #00a4e4; padding: 24px; font-size: 20px; padding: 10px 24px 22px; line-height: 1.2; }
.adv .adv__inf a { color: #fff; }

.header .logo, .logo-gray { font: 0/0 a; text-shadow: none; color: transparent; }

.partners-logo a img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

.partners-logo a:hover img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale"); -webkit-filter: grayscale(0%); }

/* default layout */
.l { width: 100%; display: inline-block; }
.l .l-col2 { float: left; width: 66%; }
.l .l-col1 { float: right; width: 32%; }
.l .l-col2_b { float: right; width: 74.5%; }
.l .l-col1_b { float: left; width: 23.5%; }
@media only screen and (max-width: 650px) { .l .l-col2, .l .l-col1, .l .l-col2_b, .l .l-col1_b { float: none; width: 100%; margin-bottom: 55px; } }

.header .logo, .logo-gray { font: 0/0 a; text-shadow: none; color: transparent; }

.partners-logo a img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

.partners-logo a:hover img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale"); -webkit-filter: grayscale(0%); }

.activity-block { margin: 33px 0 25px; }

.activity { padding: 35px 0 0; margin: 0 -10px; }
.activity li { display: inline-block; list-style: none; width: 313px; padding: 0 10px; height: 55px; margin-bottom: 25px; position: relative; }
.activity li a { position: absolute; width: 314px; top: 0; left: 10px; height: 55px; display: block; text-decoration: none; }
.activity li a:hover { border: 1px solid #00a4e4; top: -22px; left: 9px; padding: 21px		0 26px; }
.activity li a:hover .activity__drop { display: block; }
.activity li a:hover .activity__name span { border: 0; }
.activity li a:hover .icon-lan { background: url('icons-s1b11e8ce21.png') 0 -1030px no-repeat; width: 60px; height: 53px; }
.activity li a:hover .icon-wireless-net { background: url('icons-s1b11e8ce21.png') 0 -223px no-repeat; width: 60px; height: 43px; }
.activity li a:hover .icon-business { background: url('icons-s1b11e8ce21.png') 0 -1152px no-repeat; width: 57px; height: 49px; }
.activity li a:hover .icon-wan { background: url('icons-s1b11e8ce21.png') 0 -156px no-repeat; width: 56px; height: 57px; }
.activity li a:hover .icon-scn { background: url('icons-s1b11e8ce21.png') 0 -642px no-repeat; width: 57px; height: 49px; }
.activity li a:hover .icon-infrastructure { background: url('icons-s1b11e8ce21.png') 0 -1777px no-repeat; width: 60px; height: 45px; }
.activity li a:hover .icon-dpc { background: url('icons-s1b11e8ce21.png') 0 -1343px no-repeat; width: 60px; height: 42px; }
.activity li a:hover .icon-ip { background: url('icons-s1b11e8ce21.png') 0 -834px no-repeat; width: 60px; height: 53px; }
.activity li a:hover .icon-serv { background: url('icons-s1b11e8ce21.png') 0 -897px no-repeat; width: 56px; height: 60px; }
.activity li a:hover .icon-www { background: url('icons-s1b11e8ce21.png') 0 -1610px no-repeat; width: 60px; height: 46px; }
.activity li a:hover .icon-cam { background: url('icons-s1b11e8ce21.png') 0 -391px no-repeat; width: 45px; height: 52px; }
.activity li a:hover .icon-cloud { background: url('icons-s1b11e8ce21.png') 0 -533px no-repeat; width: 60px; height: 40px; }
.activity .activity__name { display: table-cell; margin-left: 100px; font-size: 16px; color: #00a4e4; width: 200px; vertical-align: middle; }
.activity .activity__name span { border-bottom: 1px dotted; }
.activity .activity__drop { display: none; background: #00a4e4; position: absolute; top: 100%; left: 0; font-size: 14px; z-index: 5; color: #fff; padding: 15px 22px 20px; cursor: default; margin: 0 -1px; line-height: 1.64; }
.activity .activity__img { display: table-cell; width: 83px; padding-left: 25px; vertical-align: middle; }
.activity .activity__img span { display: inline-block; vertical-align: middle; }
.activity .icon-lan { background: url('icons-s1b11e8ce21.png') 0 -967px no-repeat; width: 60px; height: 53px; }
.activity .icon-wireless-net { background: url('icons-s1b11e8ce21.png') 0 -276px no-repeat; width: 60px; height: 43px; }
.activity .icon-business { background: url('icons-s1b11e8ce21.png') 0 -1093px no-repeat; width: 57px; height: 49px; }
.activity .icon-wan { background: url('icons-s1b11e8ce21.png') 0 -89px no-repeat; width: 56px; height: 57px; }
.activity .icon-scn { background: url('icons-s1b11e8ce21.png') 0 -583px no-repeat; width: 57px; height: 49px; }
.activity .icon-infrastructure { background: url('icons-s1b11e8ce21.png') 0 -1722px no-repeat; width: 60px; height: 45px; }
.activity .icon-dpc { background: url('icons-s1b11e8ce21.png') 0 -1291px no-repeat; width: 60px; height: 42px; }
.activity .icon-ip { background: url('icons-s1b11e8ce21.png') 0 -771px no-repeat; width: 60px; height: 53px; }
.activity .icon-serv { background: url('icons-s1b11e8ce21.png') 0 -701px no-repeat; width: 56px; height: 60px; }
.activity .icon-www { background: url('icons-s1b11e8ce21.png') 0 -1666px no-repeat; width: 60px; height: 46px; }
.activity .icon-cam { background: url('icons-s1b11e8ce21.png') 0 -329px no-repeat; width: 45px; height: 52px; }
.activity .icon-cloud { background: url('icons-s1b11e8ce21.png') 0 -483px no-repeat; width: 60px; height: 40px; }

.slider { position: relative; margin: 0 -10px; }
.slider .slider__next, .slider .slider__prev { position: absolute; cursor: pointer; top: 40px; z-index: 2; }
.slider .slider__next { right: -37px; background: url('icons-s1b11e8ce21.png') 0 -2330px no-repeat; width: 18px; height: 29px; }
.slider .slider__next:hover { background: url('icons-s1b11e8ce21.png') 0 -2369px no-repeat; width: 18px; height: 29px; }
.slider .slider__prev { left: -37px; background: url('icons-s1b11e8ce21.png') 0 -2503px no-repeat; width: 18px; height: 29px; }
.slider .slider__prev:hover { background: url('icons-s1b11e8ce21.png') 0 -2591px no-repeat; width: 18px; height: 29px; }
.slider .slider__slide { float: left; }

.clients .slider__slide { height: 125px; line-height: 125px; margin: 0 20px; }
.clients .slider__next, .clients .slider__prev { margin-top: -14px; top: 50%; }

.clients-logo { position: relative; display: inline-block; vertical-align: middle; }
.clients-logo img { vertical-align: middle; }

.link_block { padding: 11px 0 11px 35px; height: 85px; line-height: 80px; background: #00a4e4; font-size: 18px; color: #fff; margin-bottom: 50px; }
.link_block img { vertical-align: middle; float: left; height: 100%; margin-right: 32px; }
.link_block a { font-family: "Segoe UI Light", Arial, sans-serif; color: #fff; font-size: 32px; vertical-align: middle; display: inline-block; margin: -10px 48px 0 0; position: relative; line-height: 50px; }
.link_block p { display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 1100px) { .link_block { height: 137px; padding: 20px 0 20px 35px; line-height: 1.4; }
  .link_block img { float: left; height: 100%; margin-right: 35px; }
  .link_block a { margin: 0 0 24px; line-height: 50px; }
  .link_block p { display: block; font-size: 20px; line-height: 1.2; } }

.partners-logo { padding-top: 15px; }
.partners-logo li { list-style: none; display: inline-block; margin-right: 40px; line-height: 75px; height: 75px; }
.partners-logo a img { vertical-align: middle; opacity: 0.6; }
@media only screen and (max-width: 650px) { .partners-logo { overflow: hidden; }
  .partners-logo ul { height: 75px; } }

.news { padding: 15px 0 0; }
.news .news__item { display: inline-block; width: 100%; margin-bottom: 30px; }
.news .news__item:hover .news__date { color: #00a4e4; }
.news .news__date { float: left; width: 90px; text-transform: uppercase; font-size: 19px; color: #c4cacf; font-family: "Segoe UI Light", Arial, sans-serif; font-weight: normal; line-height: 1; }
.news .news__date span { display: block; font-size: 90px; letter-spacing: -5px; }
.news .news__info { margin-left: 90px; padding: 12px 0 0 7px; }

.link-more { position: relative; font-size: 12px; margin: 23px 0 0 40px; display: inline-block; }
.link-more:hover { text-decoration: underline; }
.link-more:hover .link-arr { background: url('icons-s1b11e8ce21.png') 0 -1211px no-repeat; width: 31px; height: 30px; }

.link-arr { background: url('icons-s1b11e8ce21.png') 0 -1435px no-repeat; width: 31px; height: 30px; display: block; position: absolute; left: -38px; top: -6px; }

.main .l { margin-bottom: 50px; }

.progects { margin: 22px -10px 60px; }
.progects .slider__holder { height: 400px; }

.progect { margin: 0  10px; float: left; width: 316px; }
.progect .progect__img { height: 107px; width: 316px; overflow: hidden; }
.progect .progect__img img { vertical-align: top; }
.progect .progect__inf { color: #fff; background: #00a4e4; padding: 20px 32px 30px; }
.progect .progect__inf h2 { font-size: 21px; color: #fff; font-family: "Segoe UI Light", Arial, sans-serif; font-weight: normal; margin: 0 0 30px !important; line-height: 1.15; }
.progect .progect__inf h2 a { color: #fff; }
.progect .progect__inf p { font-size: 13px; line-height: 1.5; margin: 0  !important; }

.accos { margin: 40px 0 0 -10px; border-right: 2px solid #d2d7db; }
.accos li { margin-bottom: 4px; list-style: none; }
.accos li.active a { color: #29292a; }
.accos li.active:hover a { background: #fff; cursor: default; }
.accos a { display: inline-block; padding: 5px 10px; }
.accos a:hover { text-decoration: underline; color: #fff; background: #00a4e4; }

.accos__lvl-2 { padding: 5px 0 0 30px; }
.accos__lvl-2 li { margin-bottom: 7px; }
@media only screen and (max-width: 650px) { .accos__lvl-2 li { width: 100% !important; } }
.accos__lvl-2 li.active a:before { background: #29292a; }
.accos__lvl-2 a { position: relative; padding: 0 2px; font-size: 12px; }
.accos__lvl-2 a:before { content: ""; position: absolute; top: 5px; left: -20px; width: 4px; height: 4px; background: #00a4e4; }

.accos__lvl-3 { padding: 5px 0 0 20px; }
.accos__lvl-3 a:before { left: -18px; }

.bc { margin: 0 0 0 -5px; }
.bc li { display: inline-block; list-style: none; font-size: 12px; margin-right: 4px; }
.bc li:first-child a:before { display: none; }
.bc .active a { color: #00a4e4; }
.bc .active a:before { background: #00a4e4; }
.bc a { color: #959ca1; }
.bc a:before { content: ""; display: inline-block; width: 3px; height: 3px; background: #959ca1; margin: 0 8px 0 0; position: relative; top: -1px; }
.bc a:hover { opacity: 0.3; text-decoration: underline; }
@media only screen and (max-width: 650px) { .bc { margin: -44px 0 0; }
  .bc li { font-size: 11px; } }

.pagi { margin-top: 30px; }
.pagi a { color: #d7dfe3; text-decoration: none; font-size: 18px; display: inline-block; margin: 0 4px; padding: 0 2px; }
.pagi a:hover { color: #29292a; }
.pagi .active { color: #00a4e4; }
.pagi .pagi__prev { margin: 0 3px 0 0; background: url('icons-s1b11e8ce21.png') 0 -2676px no-repeat; width: 8px; height: 13px; }
.pagi .pagi__prev:hover { background: url('icons-s1b11e8ce21.png') 0 -2699px no-repeat; width: 8px; height: 13px; }
.pagi .pagi__next { margin: 0 0 0 3px; background: url('icons-s1b11e8ce21.png') 0 -2630px no-repeat; width: 8px; height: 13px; }
.pagi .pagi__next:hover { background: url('icons-s1b11e8ce21.png') 0 -2653px no-repeat; width: 8px; height: 13px; }

.partners { padding-top: 20px; }
.partners .partners__item { width: 48.6%; display: inline-block; vertical-align: top; margin: 0 2% 25px 0; }
.partners .partners__item:nth-child(even) { margin-right: 0; }
.partners .partners__logo { height: 60px; line-height: 55px; }
.partners .partners__logo a { display: inline-block; }
.partners .partners__logo img { vertical-align: middle; }
.partners .partners__title { color: #959ca1; font-size: 18px; font-weight: normal; margin-bottom: 3px; }
.partners .partners__title a { color: #959ca1; }
.partners p { color: #29292a; font-size: 14px; line-height: 1.3; }

.vacancy h2 { font-weight: normal; color: #29292a; font-size: 18px; margin: 20px 0; }
.vacancy ul { padding-left: 12px; margin: 20px 0 35px; }
.vacancy ul li { position: relative; list-style: none; }
.vacancy ul li:before { height: 5px; width: 5px; background: #00a4e4; content: ""; position: absolute; top: 10px; left: -11px; }
.vacancy .company-phone { color: #959ca1; font-family: "Segoe UI Bold", Arial, sans-serif; font-weight: normal; }
.vacancy .add-inf { padding: 7px 0 0; }
.vacancy p { margin: 10px 0; }

@media only screen and (max-width: 1100px) { .header, .main, .footer, .in { width: 89%; } }

@media only screen and (max-width: 1100px) { .slider { margin-left: 0; margin-right: 0; } }
@media only screen and (max-width: 1100px) { .slider .slider__next { right: -17px; } }
@media only screen and (max-width: 1100px) { .slider .slider__prev { left: -17px; } }

@media only screen and (max-width: 650px) { .header .logo { background: url('icons-s1b11e8ce21.png') 0 0 no-repeat; width: 269px; height: 41px; } }

@media only screen and (max-width: 650px) { .header, .main, .footer, .in { width: 572px; padding-left: 20px; padding-right: 20px; } }

@media only screen and (max-width: 1000px) { .banner__links { display: none; } }

@media only screen and (max-width: 650px) { .banner, .banner_sub, .banner_sub { height: 291px; } }

@media only screen and (max-width: 1100px) { .banner_sub strong { margin-top: 15px; margin-left: 66px; } }

@media only screen and (max-width: 650px) { .activity-block { margin-top: 15px; } }

@media only screen and (max-width: 650px) { .main h1 { font-size: 38px; } }

@media only screen and (max-width: 1100px) { .activity li { padding: 0 5px; width: 280px; }
  .activity li a { width: 280px; }
  .activity .activity__img { padding-left: 3px; } }

@media only screen and (max-width: 650px) { .clients .slider__slide { height: 100px; line-height: 100px; margin: 0 10px; } }

@media only screen and (max-width: 650px) { .progect { margin: 0 15px; width: 247px; }
  .progect .progect__img { width: 247px; }
  .progect .progect__img img { margin-left: -35px; } }

@media only screen and (max-width: 650px) { .progects { margin-bottom: 35px; } }

@media only screen and (max-width: 650px) { .accos { border-right: 0; border-bottom: 2px solid #d2d7db; padding-bottom: 7px; }
  .accos li { display: inline-block; width: 49%; margin-bottom: 10px; } }

@media only screen and (max-width: 650px) { .footer { padding-bottom: 30px; }
  .footer .footer__nav li { margin-right: 23px; }
  .footer .footer__nav li:last-child { margin: 0; }
  .footer .footer__top-link { display: none; }
  .footer .footer__top { margin-bottom: 43px; }
  .footer .footer__right span { font-size: 14px; } }
