@import "base";
// =======Sprites
// .whatever{
// 	@include sized-sprite($icons, badge_hit);
// 	@include retina{
// 		@include sized-sprite($icons, badge_new);
// 	}
// }
// =======animation example
// @include keyframes(rotate) {
//    from {
//       @include rotate(0);
//    }
//    to {
//       @include rotate(360);
//    }
// }
// body:hover{
// 	@include animation(rotate 200s linear infinite);
// }
// ========gradient example
// body{
// @include background-image(linear-gradient(#232323, #5c5c5c));
// }
$segoe : "Segoe UI", Arial, sans-serif;
$blue : #00a4e4;
$gray : #29292a;
%block{margin-bottom: 60px;}

*{margin:0;padding:0;-webkit-text-size-adjust: none; }
body{
	font: {
	    family: $segoe;
	    weight: normal;
	    size: 14px;
	  	}
	line-height:1.4;
}
// resets
a img,fieldset{
	border:none;
	}
a{
	color:$blue;
	&:hover{
		text-decoration:none;
	}
}
header, nav, footer{display: block;}
// common styles



.header{
	padding:41px 0 0;
	margin:0 auto;
	width: 988px;
	.logo{
		@include sized-sprite($icons, 'logo');
		@extend %hide-text;
		float: left;
		margin-top: 5px;
		a{
			display: block;
			height: 100%; 
		}
	}
	.contact-phone{float: right;}
}
.nav{
	display: inline-block;
	width: 100%;
	font-family: $segoe;
	padding:48px 0 25px;
	clear: both;
	li{
		list-style: none;
		float: left;
		margin-right: 27px;
		a{
			display: block;
			color: $gray;
			font-size: 16px;
			text-transform: uppercase;
			border-bottom: 1px solid #d1d6da;
			line-height: 1;
			text-decoration: none;
			&:hover{
				background: $blue;
				color: #fff;
				margin: -7px -11px;
				padding: 7px 11px;
				text-decoration: underline;
			}
		}
	}
	.active a{
		color:$blue;
		border-color:#d1e9f8;
	}
}
.contact-phone{
	font-size: 24px;
	color: #acafb1;
	font-family: $segoe;
	font-weight: normal;
	line-height:1; 
	span{
		color: $gray; 
	}
}

.banner{
	background: #2a3952;
	height: 269px;
	padding:47px 0 0;
	margin-bottom: 33px;
	strong{
		color: #fff;
		font-size: 81px;
		font-family: $segoe;
		font-weight: normal;
		font-weight: lighter;
		line-height: 0.8;
		margin: 0 0 35px -7px;
		display: block;
	}
	p{
		border-left:3px solid $blue;
		line-height: 35px;
		font-size: 18px;
		font-family: $segoe;
		font-weight: bold;
		color: #fff;
		padding-left:9px; 
	}
}
.in{
	margin: 0 auto;
	width: 988px;
}

.main{
	margin: 0 auto;
	width: 988px;
	h1{
		color: $gray;
		font-family: $segoe;
		font-size: 35px;
		font-weight: normal;
		font-weight: lighter;
		margin:0 0 0 -12px; 
		line-height: 1;
		a{
			text-decoration: none;
			color: $gray;
			display: inline-block;
			padding:1px 10px 6px;
			&:hover{
				background: $blue;
				color:#fff;
			}
		}
	}
	h2{}
	h3{
		font-size:16px;
		color:$blue;
		text-transform: uppercase;
		font-weight: lighter;
		margin-bottom: 12px;
		a{
			text-decoration: underline;
			&:hover{text-decoration: none;}
		}
	}
}

.footer{
	border-top:1px solid #dcdedf;
	margin: 0 auto;
	width: 988px;
	padding:21px 0 167px; 
	.footer__top{
		display: inline-block;
		width: 100%;
		margin-bottom: 63px;
	}
	.footer__nav{
		float: left;
		li{
			display: inline-block;
			list-style: none;
			font-size: 13px;
			margin-right: 43px;
		}
		a{
			color: $gray;
		}
	}
	.footer__top-link{
		float: right;
		text-decoration: none;
		border-bottom: 1px dotted;
		position: relative;
		font-size: 13px;
		margin-top: 2px;
		&:hover{border-color:transparent;}
	}
	.arr-top{
		@include sized-sprite($icons, 'arr-top');
		display: block;
		position: absolute;
		left:-25px;
		top: 0; 
	}
	.footer__bottom{
		display: inline-block;
		width: 100%;
	}
	.footer__left{
		float: left;
		font-size: 13px;
		span{
			display: block;
			margin-bottom: 4px;
		}
	}
	.contact-phone_sm{
		font-size: 18px;
		margin-bottom: 12px;
		span{display: inline;}
		@extend .contact-phone;
	}
	.footer__right{
		text-align: right;
		float: right;
		span{
			display: block;
			font-size: 12px;
			color: #a5abaf; 
			}
		p{
			font-size: 11px;
			color: #959ca1; 
		}
	}
	.dotted{
		border-bottom: 1px dotted #dcdedf; 
	}
}
.logo-gray{
	@include sized-sprite($icons, 'logo_gray');
	@extend %hide-text;
	display: inline-block;
	position: relative;
	top:-6px;
	margin-bottom: 24px;
	a{
		display: block;
		height: 100%; 
	}
}