@import "base";

/* default layout */
.l{
	width: 100%;
	display: inline-block;

	.l-col2{
		float:left;
		width: 66%;
	}
	.l-col1{
		float:right;
		width: 32%;
	}
	.l-col2_b{
		float:right;
		width: 74.5%;
	}
	.l-col1_b{
		float:left;
		width: 23.5%;
	}
	@include respond-to(pda){
		.l-col2, .l-col1, .l-col2_b, .l-col1_b{
			float: none;
			width: 100%;
			margin-bottom: 55px;
		}
	}
}