@import "base";

.activity-block{margin:33px 0 25px;}
.activity{
		padding:35px 0 0;
		margin:0 -10px; 
	li{
		display: inline-block;
		list-style: none;
		width: 313px;
		padding:0 10px;
		height:55px;
		margin-bottom:25px; 
		position: relative;
		a{
			position:absolute;
			width: 314px;
			top:0;
			left: 10px;
			height: 55px;
			display: block;
			text-decoration: none;
			&:hover{
				border:1px solid $blue;
				top:-22px;
				left: 9px;
				padding:21px		0 26px;
				.activity__drop{
					display: block;
				}
				.activity__name span{border:0;}
				.icon-lan{@include sized-sprite($icons, 'i-lan1');}
				.icon-wireless-net{@include sized-sprite($icons, 'i-wireless-net1');}
				.icon-business{@include sized-sprite($icons, 'i-business1');}
				.icon-wan{@include sized-sprite($icons, 'i-wan1');}
				.icon-scn{@include sized-sprite($icons, 'i-scn1');}
				.icon-infrastructure{@include sized-sprite($icons, 'i-infrastructure1');}
				.icon-dpc{@include sized-sprite($icons, 'i-dpc1');}
				.icon-ip{@include sized-sprite($icons, 'i-ip1');}
				.icon-serv{@include sized-sprite($icons, 'i-serv1');}
				.icon-www{@include sized-sprite($icons, 'i-www1');}
				.icon-cam{@include sized-sprite($icons, 'i-cam1');}
				.icon-cloud{@include sized-sprite($icons, 'i-cloud1');}
			}
		}
	}
	.activity__name{
		display: table-cell;
		margin-left: 100px;
		font-size: 16px;
		color: $blue;
		width: 200px;
		vertical-align: middle;
		span{
			border-bottom:1px dotted;
		}
	}
	.activity__drop{
		display: none;
		background: $blue; 
		position: absolute;
		top:100%;
		left:0;
		font-size: 14px;
		z-index:5;
		color:#fff;
		padding:15px 22px 20px;;
		cursor: default;
		margin:0 -1px;
		line-height:1.64;		
	}
	.activity__img{
		display: table-cell;
		width: 83px;
		padding-left: 25px;
		vertical-align: middle;
		span{
			display: inline-block;
			vertical-align: middle;

		}
	}
	.icon-lan{@include sized-sprite($icons, 'i-lan');}
	.icon-wireless-net{@include sized-sprite($icons, 'i-wireless-net');}
	.icon-business{@include sized-sprite($icons, 'i-business');}
	.icon-wan{@include sized-sprite($icons, 'i-wan');}
	.icon-scn{@include sized-sprite($icons, 'i-scn');}
	.icon-infrastructure{@include sized-sprite($icons, 'i-infrastructure');}
	.icon-dpc{@include sized-sprite($icons, 'i-dpc');}
	.icon-ip{@include sized-sprite($icons, 'i-ip');}
	.icon-serv{@include sized-sprite($icons, 'i-serv');}
	.icon-www{@include sized-sprite($icons, 'i-www');}
	.icon-cam{@include sized-sprite($icons, 'i-cam');}
	.icon-cloud{@include sized-sprite($icons, 'i-cloud');}
}

.slider{
	position: relative;
	margin:0 -10px;
	%slider-arr{
		position: absolute;
		cursor: pointer;
		top:40px;
		z-index: 2;
	}
	.slider__next{
		@extend %slider-arr;
		right:-37px;
		@include sized-sprite($icons, 'arr-right');
		&:hover{
			@include sized-sprite($icons, 'arr-right4');
		}
	}
	.slider__prev{
		@extend %slider-arr;
		left:-37px;
		@include sized-sprite($icons, 'arr-left');
		&:hover{
			@include sized-sprite($icons, 'arr-left4');
		}
	}
	.slider__slide{
		float: left;
	}
}

.clients{
	.slider__slide{
		height:125px;
		line-height: 125px;
		margin:0 20px;
		}
	.slider__next, .slider__prev{
		margin-top: -14px;
		top:50%;
	}
}
.clients-logo{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	img{
		vertical-align: middle;
	}
}

.link_block{
	padding: 11px 0 11px 35px;
	height: 85px;
	line-height: 80px;
	
	background: $blue;
	font-size: 18px;
	color: #fff;
	margin-bottom: 50px;
	img{
		vertical-align: middle;
		float: left;
		height: 100%;
		margin-right: 32px;
		}
	a{
		font-family: "Segoe UI Light", Arial, sans-serif; 
		color: #fff;
		font-size: 32px;
		vertical-align: middle;
		display: inline-block;
		margin: -10px 48px 0 0;
		position: relative;
		line-height: 50px;
	}
	p{
		display: inline-block;
		vertical-align: middle;
	}
	@include respond-to(norm) {
		height: 137px;
		padding: 20px 0 20px 35px;
		line-height: 1.4;
		img{
			float: left;
			height: 100%;
			margin-right: 35px;
		}
		a{
			margin: 0 0 24px;
			line-height: 50px;
		}
		p{
			display: block;
			font-size: 20px;
			line-height: 1.2;
		}
	}
}

.partners-logo{
	padding-top: 15px;
	li{
		list-style: none;
		display: inline-block;
		margin-right: 40px;
		line-height: 75px;
		height: 75px;
	}
	a{
		img{
			vertical-align: middle;
			opacity:0.6;
			@extend %gray;
			}
		&:hover{
			img{
				@extend %gray-zero;
			}
		}
	}
	@include respond-to(pda){
		overflow: hidden;
		ul{height:75px; }
	}
}

.news{
	padding:15px 0 0; 
	.news__item{
		display: inline-block;
		width: 100%;
		margin-bottom: 30px;
		&:hover{
			.news__date{
				color:$blue;
			}
		}
	}
	.news__date{
		float: left;
		width: 90px;
		text-transform: uppercase;
		font-size:19px;
		color: #c4cacf;
		font-family: "Segoe UI Light", Arial, sans-serif;
		font-weight: normal;
		line-height:1; 
		span{
			display: block;
			font-size: 90px;
			letter-spacing: -5px;
		}
	}
	.news__info{
		margin-left: 90px;
		padding: 12px 0 0 7px;
	}
}

.link-more{
	position: relative;
	font-size: 12px;
	margin: 23px 0 0 40px;
	display: inline-block;
	&:hover{
		text-decoration: underline;
		.link-arr{
			@include sized-sprite($icons, 'arr-bottom2');
		}
	}
}

.link-arr{
	@include sized-sprite($icons, 'arr-bottom');
	display: block;
	position: absolute;
	left: -38px;
	top: -6px;
}
.main .l{margin-bottom: 50px;}
.progects{
	margin:22px -10px 60px;
	.slider__holder{
		height: 400px;
	}
}
.progect{
	margin:0  10px;
	float: left;
	width: 316px;
	.progect__img{
		height:107px;
		width: 316px;
		overflow: hidden; 
		img{
			vertical-align: top;
		}
	}
	.progect__inf{
		color: #fff;
		background: $blue; 
		padding: 20px 32px 30px;
		h2{
			font-size: 21px;
			color: #fff;
			font-family: "Segoe UI Light", Arial, sans-serif;
			font-weight: normal;
			margin:0 0 30px !important;
			line-height: 1.15;
			a{color: #fff;}
		}
		p{
			font-size: 13px;
			line-height: 1.5;
			margin: 0  !important;
		}
	}
}


.accos{
	margin: 40px 0 0 -10px;
	border-right: 2px solid #d2d7db;
	li{
		margin-bottom: 4px;
		list-style: none;
		&.active{
			a{color: $gray;}
				&:hover{
				a{
					background: #fff;
					cursor: default;
				}				
			}
		}
	}
	a{
		display: inline-block;
		padding: 5px 10px;
		&:hover {
			text-decoration: underline;
			color: #fff;
			background: $blue;
		}
	}
}
.accos__lvl-2 {
	padding: 5px 0 0 30px;
	li{
		@include respond-to(pda){width: 100% !important;}
		margin-bottom: 7px;
		&.active {
			a {
				&:before {
					background: $gray;
				}
			}
		}
	}
	a{
		position: relative;
		padding: 0 2px;
		font-size: 12px;
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: -20px;
			width: 4px;
			height: 4px;
			background: $blue;
		}
	}
}
.accos__lvl-3{
	padding: 5px 0 0 20px;
	a {
		&:before {
			left: -18px;
		}
	}
}
.bc{
	margin: 0 0 0 -5px;
	li{
		display: inline-block;
		list-style: none;
		font-size: 12px;
		margin-right: 4px;
		&:first-child a:before{display: none;}
	}
	.active{
		a{
			color:$blue;
			&:before{background:$blue;}
		}
	}
	a{
		color:#959ca1;
		&:before{
			content:"";
			display: inline-block;
			width:3px;
			height:3px;
			background:#959ca1;
			margin: 0 8px 0 0;
			position: relative;
			top:-1px;
		}
		&:hover{
			opacity:0.3;  
			text-decoration: underline;	
		}
	}
	@include respond-to(pda){
		margin: -44px 0 0;
		li{font-size: 11px;}
	}
}

.pagi{
	margin-top: 30px;
	a{
		color: #d7dfe3;
		text-decoration: none;
		font-size: 18px; 
		display: inline-block;
		margin: 0 4px;
		padding:0 2px; 
		&:hover{color: #29292a; }
	}
	.active{color:$blue; }
	.pagi__prev{
		margin: 0 3px 0 0;
		@include sized-sprite($icons, 'arr-left6');
		&:hover{@include sized-sprite($icons, 'arr-left7');}
	}
	.pagi__next{
		margin: 0 0 0 3px;
		@include sized-sprite($icons, 'arr-right5');
		&:hover{@include sized-sprite($icons, 'arr-right6');}
	}
}
.partners{
	padding-top: 20px;
	.partners__item{
		width: 48.6%;
		display: inline-block;
		vertical-align: top;
		margin:0 2% 25px 0;
		&:nth-child(even){margin-right: 0;}
	}
	.partners__logo{
		height: 60px;
		line-height: 55px;
		a{display: inline-block;}
		img{
			vertical-align: middle;
		}
	}
	.partners__title{
		color: #959ca1;
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 3px;
		a{
			color: #959ca1;
		}
	}
	p{
		color: #29292a;
		font-size: 14px;
		line-height:1.3; 
	}
}

.vacancy{
	h2{
		font-weight: normal;
		color: #29292a;
		font-size: 18px;
		margin: 20px 0;
	}
	ul{
		padding-left:12px;
		margin: 20px 0 35px;
		li{
			position: relative;
			list-style: none;
			&:before{
				height: 5px;
				width: 5px;
				background: $blue;
				content:"";
				position: absolute;
				top:10px;
				left:-11px;
			}
		}
	}
	.company-phone{
		color: #959ca1;
		font-family: "Segoe UI Bold", Arial, sans-serif;
		font-weight: normal; 
	}
	.add-inf{
		padding:7px 0 0; 
	}
	p{margin:10px 0; }
}




.header, .main, .footer, .in{
	@include respond-to(norm) {width: 89%;}
}

.slider{
	@include respond-to(norm){
		margin-left: 0;
		margin-right: 0;
	}
	.slider__next{@include respond-to(norm){right:-17px;}}
	.slider__prev{@include respond-to(norm){left:-17px;}}
}

.header .logo{
	@include respond-to(pda){
		@include sized-sprite($icons, 'logo-big');
	}
}

.header, .main, .footer, .in{
	@include respond-to(pda){
		width: 572px;
		padding-left:20px;
		padding-right: 20px; 
	}
}
.banner__links{
	@include respond-to(ban){display: none;}
}
.banner, .banner_sub{
	@include respond-to(pda){height: 291px;}
}
.banner_sub{
	strong{
		@include respond-to(norm){
			margin-top: 15px;
			margin-left: 66px;
		}
	}
}
.activity-block{
	@include respond-to(pda){margin-top: 15px;}
}
.main{
	@include respond-to(pda) {
		h1{font-size: 38px;}
	}
}
.activity{
	@include respond-to(norm) {
		li{
			padding:0 5px;
			width: 280px; 
			a{width: 280px; }
		}
		.activity__img{padding-left: 3px;}
	}
}
.clients .slider__slide{
	@include respond-to(pda) {
		height: 100px;
		line-height:100px;
		margin: 0 10px;
	}
}
.progect{
	@include respond-to(pda) {
		margin:0 15px;
		width:247px;
		.progect__img{
			width: 247px;
			img{margin-left: -35px;}
		}
	}
}
.progects{
	@include respond-to(pda) {
		margin-bottom: 35px;
	}
}
.accos{
	@include respond-to(pda) {
		border-right:0;
		border-bottom: 2px solid #d2d7db;
		padding-bottom: 7px;
		li{
			display: inline-block;
			width: 49%;
			margin-bottom: 10px;
		}
	}
}

.footer{
	@include respond-to(pda) {
		padding-bottom: 30px;
	.footer__nav{
			li{
				&:last-child{margin: 0;}
				margin-right:23px; 
			}
		}
		.footer__top-link{display: none;}
		.footer__top{margin-bottom: 43px;}
		.footer__right span{font-size: 14px;}
	}
}
